<div class="tooltip-wrapper" clickOutside (clickOutside)="onClose()">
	<div class="tooltip-trigger" (click)="onToggle()">
		<ng-content select="[tooltip-trigger]"></ng-content>
	</div>

	@if (isOpen()) {
		<div class="tooltip-content" [attr.data-position]="position()">
			<div class="tooltip-arrow"></div>

			@if (title()) {
				<h4 class="tooltip-title">{{ title() }}</h4>
			}

			@if (description()) {
				<p class="tooltip-description">{{ description() }}</p>
			}

			<ng-content select="[tooltip-content]"></ng-content>
		</div>
	}
</div>