<div class="card-container card-container--pink">
	<div class="card-content">
		<span class="bite-cover"></span>
		<app-dragon-tooltip title="Rareza" description="Dragón Mítico - El más poderoso" position="right">
			<div class="dragon-badge" tooltip-trigger>
				<img src="images/rarity/M.png" alt="Mitico">
			</div>
		</app-dragon-tooltip>
		<!-- <div class="dragon-badge">
			<img src="images/rarity/M.png" alt="Mitico" class="dragon-badge-image">
		</div> -->
		<div class="dragon-skill-special">
			<img src="images/skills/ic-skills-passive-special-1.png" alt="Special">
		</div>
		<div class="dragon-category">
			Cat.10
		</div>
		<div class="dragon-image-container">
			<img src="images/dragons/dragon_doomdancer.png" alt="Dragón bailarín maldito" class="dragon-image">
			<div class="dragon-family">
				<img src="images/family/doom-icon.png" alt="Doom">
			</div>
		</div>
		<h3 class="dragon-name">Dragón bailarín maldito</h3>
		<div class="dragon-elements">
			<div class="element-icon">
				<img src="images/skills/dream-skill.png" alt="Dream" class="skill-base">
				<img src="images/skills/ic-strong-skill.png" alt="Strong" class="skill-overlay">
			</div>

			<div class="element-icon">
				<img src="images/skills/green-skill.png" alt="Green" class="skill-base">
				<img src="images/skills/ic-strong-skill.png" alt="Strong" class="skill-overlay">
			</div>

			<div class="element-icon">
				<img src="images/skills/earth-skill.png" alt="Earth" class="skill-base">
			</div>

			<div class="element-icon">
				<img src="images/skills/wind-skill.png" alt="Wind" class="skill-base">
			</div>
		</div>
	</div>
</div>