<div  [class]="dragon().rarity | dragonRarityColor" (click)="openModal()">
	<div class="card-content">
		<span class="bite-cover"></span>
		<div class="dragon-badge" dragonTooltip [tooltipTitle]="dragon().rarity | dragonRarityLabel" tooltipPosition="top" tooltipTrigger="hover">
			<img [src]="dragon().rarity | dragonRarityImage">
		</div>
		
		<div class="dragon-skill-special"
			[dragonTooltip]="dragon().specialSkillDescription"
			[tooltipTitle]="dragon().specialSkillTitle" tooltipPosition="top" tooltipTrigger="hover">
			<img [src]="dragon().specialSkillType | dragonSpecialSkillImage" alt="Special">
		</div>
		<div class="dragon-category">
			{{ dragon().category }}
		</div>
		<div class="dragon-image-container">
			<img [src]="dragon().image" class="dragon-image">
			<div class="dragon-family" dragonTooltip [tooltipTitle]="dragon().family | dragonFamilyLabel" tooltipPosition="left"
				tooltipTrigger="hover">
				<img [src]="dragon().family | dragonFamilyImage">
			</div>
		</div>
		<h3 class="dragon-name">{{ dragon().name }}</h3>
		<div class="dragon-elements">
			@for (skill of dragon().skills; track $index) {
                @if(skill.isSpecial) {
					<div class="element-icon" [dragonTooltip]="skill.description"
						[tooltipTitle]="skill.name" tooltipPosition="top" tooltipTrigger="hover">
						<img [src]="skill.image" alt="Dream" class="skill-base">
						<img [src]="skill.strongSkill" alt="Strong" class="skill-overlay" 
						[class.skill-overlay-small]="skill.strongSkill === strongSkillType.StrongSkill3">
					</div>
				} @else {	
				<div class="element-icon">
					<img [src]="skill.image" class="skill-base">
				</div>
				}
			}
		</div>
	</div>
</div>

<app-dragon-modal [dragon]="dragon()" [isOpen]="isModalOpen()" (closeModal)="closeModal()" />